annotations:
  category: sqnc
  licenses: Apache-2.0
apiVersion: v2
# renovate: image=digicatapult/sqnc-attachment-api
appVersion: v2.2.9
dependencies:
  - condition: postgresql.enabled
    name: postgresql
    repository: https://charts.bitnami.com/bitnami
    version: 15.x
  - name: common
    repository: https://charts.bitnami.com/bitnami
    tags:
      - bitnami-common
    version: 2.x.x
  - condition: keycloak.enabled
    name: keycloak
    repository: https://charts.bitnami.com/bitnami
    version: 24.x
  - name: sqnc-node
    alias: node
    repository: https://digicatapult.github.io/helm-charts/
    tags:
      - sqnc-node
    version: 7.x.x
    condition: node.enabled
  - name: sqnc-identity-service
    alias: identity
    repository: https://digicatapult.github.io/helm-charts/
    tags:
      - sqnc-identity-service
    version: 5.x
    condition: identity.enabled
  - name: sqnc-ipfs
    alias: ipfs
    repository: https://digicatapult.github.io/helm-charts/
    tags:
      - sqnc-ipfs
    version: 4.x.x
    condition: ipfs.enabled
description: The sqnc-attachment-api is a component of the Sequence (SQNC) ledger-based system.
home: https://github.com/digicatapult/sqnc-documentation
icon: https://raw.githubusercontent.com/digicatapult/sqnc-documentation/main/assets/icon.png
keywords:
  - SQNC
maintainers:
  - name: digicatapult  # Digital Catapult
    url: https://github.com/digicatapult/helm-charts
    email: opensource@digicatapult.org.uk
name: sqnc-attachment-api
sources:
  - https://github.com/digicatapult/sqnc-attachment-api
version: 2.0.9
