name: Linting & Integration tests

on:
  pull_request:
    types:
      - opened
      - synchronize
      - reopened
    paths-ignore:
      - "charts/sqnc-identity-service/**"

defaults:
  run:
    shell: bash

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

env:
  CHART_LIST: ""
  # space separated list of charts that we want to use a pullSecret for

jobs:
  helm-testing:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v5
      with:
        fetch-depth: 0

    - name: Set up Helm
      uses: azure/setup-helm@v4.3.1
      with:
        token: ${{ secrets.GITHUB_TOKEN }}

    - uses: actions/setup-python@v6
      with:
        python-version: "3.13"

    - name: Set up chart-testing
      uses: helm/chart-testing-action@v2

    - name: Install additional Helm repos
      run: |
        helm repo add bitnami https://charts.bitnami.com/bitnami
        helm repo add digicatapult https://digicatapult.github.io/helm-charts
        helm repo add viters https://viters.github.io/azurite-helm-chart

    - name: Run chart-testing (list-changed)
      id: list-changed
      run: |
        changed=$(ct list-changed --target-branch ${{ github.event.repository.default_branch }} --excluded-charts sqnc-identity-service)
        if [[ -n "$changed" ]]; then
          echo "changed=true" >> $GITHUB_OUTPUT

          # Initialize a flag to track if any named chart in the list has changed
          named_charts_changed=false

          # Loop through the charts in the CHART_LIST
          for chart in $CHART_LIST; do
            if [[ "$(echo $changed | grep -Ei "$chart")" ]]; then
              named_charts_changed=true
              break
            fi
          done

          # Set the output based on whether any named chart changed
          if [[ "$named_charts_changed" == true ]]; then
            echo "changed_named_charts=true" >> $GITHUB_OUTPUT
          else
            echo "changed_named_charts=false" >> $GITHUB_OUTPUT
          fi
        else
          echo "changed=false" >> $GITHUB_OUTPUT
        fi

    - name: Run chart-testing (lint)
      run: |
        ct lint \
          --target-branch ${{ github.event.repository.default_branch }}
      if: steps.list-changed.outputs.changed == 'true'

    - name: Create kind cluster
      uses: helm/kind-action@v1
      if: steps.list-changed.outputs.changed == 'true'

    - name: Create repository secret
      run: |
        kubectl create secret docker-registry ci \
          --namespace default \
          --docker-server=ghcr.io \
          --docker-username=${{ github.actor }} \
          --docker-password=${{ secrets.GITHUB_TOKEN }} \
          --docker-email=${{ github.actor }}@users.noreply.github.com
      if: steps.list-changed.outputs.changed_named_charts == 'true'

    - name: Run chart-testing (install)
      run: |
        ct install \
        --target-branch ${{ github.event.repository.default_branch }} --namespace default
      if: |
        steps.list-changed.outputs.changed_named_charts == 'true' &&
        steps.list-changed.outputs.changed == 'true'

    - name: Run chart-testing (install)
      run: |
        ct install \
        --target-branch ${{ github.event.repository.default_branch }}
      if: |
        steps.list-changed.outputs.changed_named_charts == 'false' &&
        steps.list-changed.outputs.changed == 'true'
